@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #bae0c2;
}

nav{
	background-color: bisque;
	position: sticky;
	top: 0;
	padding: 10px 30px;
	display: flex;
    justify-content: center;
}

nav ul{
	display: flex;	
}

nav ul li{
	list-style: none;
    padding: 10px 30px;
}


nav ul li a:hover{
    color: #fdf0e7;
    background-color: #cc5a31;
}

nav ul li a{
	font-size: 1.8rem;
	text-decoration: none;
	color: #cc5a31;
    padding: 10px;
    border: solid rgb(161, 93, 53) 1px;
}



.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.conteiner-onu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.box{
    display: flex;
    background-color: antiquewhite;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.footer{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: space-evenly;
    margin-top: 10.7%;
    margin-bottom: 0%;
}

.title{
    text-align: center;
    font-size: 5em;
    color: #227a22;
}

.text{
    text-align: justify;
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1%;
}

.img{
    margin: 10px;
    border: solid rgb(94, 57, 8);
    width: 250px;
}

.img-onu{
    margin: 10px;
    border: solid rgb(94, 57, 8);
}


.text-nosotros{
    text-align: center;
}

.boxtext{
    margin-top: 3%;
    width: 100%;
}

.nosotros{
    background-color: #cc5a31;
    color: #fdf0e7;
}

.inicio{
    background-color: #cc5a31;
    color: #fdf0e7;
}

.bg-aqw{
    background-color: antiquewhite;
}

.onu{
    margin-top: 3%;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.doc{
    justify-content: center;
    align-items: center;
}

.text-doc{
    font-size: 1.5em;
    font-weight: bold;
    color: #a73f1a;
}

.org{
    margin-top: 2%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.bg-diseñador{
    background-color: #efac51;
}

.bg-maquetador{
    background-color: #de9537;
}

.bg-programador{
    background-color: #ce7d1d;
}

.bg-comunicador{
    background-color: #bd6503;
}

.title-th{
    font-size: 1.5em;
    padding: 2%;
}

.text-td{
    font-size: 1.5em;
    padding: 2%;
}

table {
    border: 1px solid var(--border-primary);
    border-collapse: collapse;
    width: 100%;
}

/* RESPONSIVE */

@media (max-width:1115px) and (min-width:600px){

    .conteiner{
        display: flex;
        width: 100%;
        justify-content: space-evenly;

    }
    
    .box{
        display: flex;
        background-color: antiquewhite;
        width: 300px;
        flex-direction: column;
        align-items: center;
    }

    .img-onu{
        margin: 10px;
        border: solid rgb(94, 57, 8);
    }

    .conteiner-onu{
        display: flex;
        flex-direction: column;
    }
}

@media (max-width:600px) {
    .conteiner-onu{
        display: flex;
        flex-direction: column;
    }
}