@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #bae0c2;
}

nav{
	background-color: bisque;
	position: sticky;
	top: 0;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul{
	display: flex;		
}

nav ul li{
	list-style: none;
    padding: 10px 30px;
}


nav ul li a:hover{
    color: #fdf0e7;
    background-color: #cc5a31;
}

nav ul li a{
	font-size: 1.8rem;
	text-decoration: none;
	color: #cc5a31;
    padding: 10px;
    border: solid rgb(161, 93, 53) 1px;
}



.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.box{
    display: flex;
    background-color: antiquewhite;
    width: 25%;
    flex-direction: column;
    
    align-items: center;
}

.footer{
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10.7%;
    margin-bottom: 0%;
}

.title{
    text-align: center;
    font-size: 5em;
    color: #227a22;
}

.text{
    text-align: justify;
    font-size: 2em;
    margin-left: 2%;
    margin-right: 2%;
    background-color: antiquewhite;
    padding: 1%;
}

.img{
    margin: 10px;
    border: solid rgb(94, 57, 8);
}

.boxtext{
    margin-top: 3%;
    width: 100%;
}

.nosotros{
    background-color: #cc5a31;
    color: #fdf0e7;
}

.inicio{
    background-color: #cc5a31;
    color: #fdf0e7;
}