@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body{
    background-color: #bae0c2;
}

.ini{
    padding-left: 29px;
    padding-right: 29px;
}

.noso{
    padding-left: 10px;
    padding-right: 10px;
}

nav{
	background-color: bisque;
	position: sticky;
	top: 0;
	padding: 10px 30px;
	display: flex;
    justify-content: center;
}

nav ul{
	display: flex;	
}

nav ul li{
	list-style: none;
    padding: 10px 30px;
}


nav ul li a:hover{
    color: #fdf0e7;
    background-color: #cc5a31;
}

nav ul li a{
	font-size: 1.8rem;
	text-decoration: none;
	color: #cc5a31;
    padding: 10px;
    border: solid rgb(161, 93, 53) 1px;
}



.conteiner{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.conteiner-onu{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 3%;
}

.box{
    display: flex;
    background-color: antiquewhite;
    width: 300px;
    flex-direction: column;
    align-items: center;
}

.footer{
    background-color: bisque;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: space-evenly;
    margin-top: 10.7%;
    margin-bottom: 0%;
}

.title{
    text-align: center;
    font-size: 5em;
    color: #227a22;
}

.text{
    text-align: justify;
    font-size: 1.5em;
    margin-left: 50px;
    margin-right: 50px;
    padding: 1%;
}

.img{
    margin: 10px;
    border: solid rgb(94, 57, 8);
    width: 250px;
}

.img-onu{
    margin: 10px;
    border: solid rgb(94, 57, 8);
    width: 65%;
    height: 65%;
}


.text-nosotros{
    text-align: center;
}

.boxtext{
    margin-top: 3%;
    width: 100%;
}

.nosotros{
    background-color: #cc5a31;
    color: #fdf0e7;
}

.inicio{
    background-color: #cc5a31;
    color: #fdf0e7;
}

.bg-aqw{
    background-color: antiquewhite;
}

.onu{
    margin-top: 3%;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.doc{
    justify-content: center;
    align-items: center;
}

.text-doc{
    font-size: 1.5em;
    font-weight: bold;
    color: #a73f1a;
}

.org{
    margin-top: 2%;
}

.flex-row{
    display: flex;
    flex-direction: row;
}

.bg-diseñador{
    background-color: #efac51;
}

.bg-maquetador{
    background-color: #de9537;
}

.bg-programador{
    background-color: #ce7d1d;
}

.bg-comunicador{
    background-color: #bd6503;
}

.title-th{
    font-size: 1.5em;
    padding: 2%;
}

.text-td{
    font-size: 1.5em;
    padding: 2%;
}

table {
    border: 1px solid var(--border-primary);
    border-collapse: collapse;
    width: 100%;
}

/* RESPONSIVE */

@media (max-width:1300px) and (min-width:1115px){

    /* Responsive pagina de inicio */

    .conteiner-onu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media (max-width:1115px) and (min-width:600px){


/* Responsive pagina de inicio */

    .title{
        font-size: 3em;
    }

    .conteiner-onu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        font-size: 1em;

    }

    .title-th{
        font-size: 1em;
        padding: 2%;
    }
    
    .text-td{
        font-size: 1em;
        padding: 2%;
    }

    .footer{
        font-size: 0.8em;
    }

}

@media (max-width:1000px){

    .box{
        margin: 25px;
    }

    .conteiner{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px){

/* responsive navbar */

    nav{
        top: 0;
        display: flex;
    }

    nav ul{
        display: flex;
        flex-direction: column;	
    }

    nav ul li{
        list-style: none;
        padding: 10px 30px;
        width: 400px;
        text-align: center;
    }


    nav ul li a{
        font-size: 1.3rem;
        margin: 0;
    }
    .ini{
        padding-left: 45%;
        padding-right: 45%;
    }

    .noso{
        padding-left: 40.35%;
        padding-right: 40.5%;
    }


/* Responsive pagina de inicio */

    .title{
        font-size: 2.5em;
    }

    .conteiner-onu{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .text{
        font-size: 1em;
        margin: 0;
        padding: 3px;
    }

    .footer{
        flex-direction: column;
        text-align: center;
        font-size: 0.7em;
    }

    .title-th{
        font-size: 1em;
        padding: 2%;
    }
    
    .text-td{
        font-size: 1em;
        padding: 2%;
    }

    table {
            margin: 0;
            overflow: auto;
            width: 100vw;
    }

    .onu{
        margin-left: 0;
        margin-right: 0;
    }

    /* responsive pagina nosotros */


}
